* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
}

.about {
    margin-top: 35px;
    width: 100%;
    height: 370px;
    padding: 30px;
    text-align: center;
    justify-content: center;
}
.about hr {
    width: 30%;
    height: 4px;
    margin: auto;
    background-color: rgb(62, 100, 62);
}
.about h2 {
    font-size: 32px;
    color: rgb(62, 100, 62);
    text-align: center;
}
.about h4 {
    font-size: 22px;
    margin-top: 12px;
    color: rgb(62, 100, 62);
    margin-bottom: 10px;
}
.about p {
    font-size: 17px;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}


.our_services{
    width: 100%;
    height: 440px;
    background-color:rgb(82, 116, 82);
    display: flex;
    flex: 1 1 200px;
    text-align: center;
    justify-content: center;
}
.our_services h3{
    color: white;
    padding: 60px;
    font-size: 22px;
    transition: background-color 2s;
}
.our_services h3:hover{
    background-color:white;
    color:rgb(47, 77, 47);
}

.staff-h2{
    font-size: 32px;
    color: rgb(62, 100, 62);
    margin-top: 16px;
    text-align: center;
}
.staff {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.staff-member {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.staff-member img {
    width: 100px;
    height: 100px;
    border-radius: 25%;
    margin-bottom: 10px;
    object-fit: cover;
}
.staff-member h4 {
    margin: 0;
    padding: 5px 0;
}